@model WorkoutPlannerWebApp.ViewModels.DetailWorkoutProgramViewModel

@{
    ViewData["Title"] = "Details";
}

    <h1>@Model.WorkoutProgram.Name</h1>
    <br />
    <dl class="row">
        <dt class="details-col-label">Difficulty</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.Difficulty</dd>
        <dt class="details-col-label">Updated On</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.UpdatedOn.ToString("MM/dd/yy hh:mm tt")</dd>    
        <dt class="details-col-label">Description</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.Description</dd>
        <dt>Program Detail</dt>
        <dd>@Model.WorkoutProgram.ProgramDetails</dd>
    </dl>
    <hr />

    <h3>Workout Phases</h3>
    <br />
@if (!Model.WorkoutProgram.WorkoutPhases.Any())
{
    <p>You have not added any workout phases as of yet</p>
}
else
{
    int idx = 0;
    @foreach (var phase in Model.WorkoutProgram.WorkoutPhases) {
        idx++;
        <div class="workout-phase-container">
            <h5><a asp-action="PhaseDetails" asp-route-id="@phase.Id">Phase @idx: @phase.Name</a></h5>
            @if (phase.Duration > 1)
            {
            <div><i>@phase.Duration Weeks</i></div>
            }
            else 
            {
            <div><i>@phase.Duration Week</i></div>
            }
            <p>@phase.PhaseDetails</p>
            <br>
        </div>
        } 
}
</div>
      <br />
      
<div class="container">
    <div class="row justify-content-between">
        <span class="col-auto">
            <a asp-action="Index" class="btn btn-dark">Back</a>
        </span>
        <span class="col-auto">
            <a asp-action="FullDetails" asp-route-id="@Model.WorkoutProgram.Id" class="btn btn-red">View Full Details</a>
        </span>
    </div>
</div>