@model WorkoutPlannerWebApp.ViewModels.WorkoutProgramsViewModel.FullDetailWorkoutProgramViewModel

@{
    ViewData["Title"] = "Details";
}

    <h1>@Model.WorkoutProgram.Name</h1>
    <br />
    <dl class="row">
        <dt class="col-2">Difficulty</dt>
        <dd class="col-10">@Model.WorkoutProgram.Difficulty</dd>
        <dt class="col-2">Updated On</dt>
        <dd class="col-10">@Model.WorkoutProgram.UpdatedOn.ToString("MM/dd/yy hh:mm tt")</dd>    
        <dt class="col-2">Description</dt>
        <dd class="col-10">@Model.WorkoutProgram.Description</dd>
        <dt>Program Detail</dt>
        <dd>@Model.WorkoutProgram.ProgramDetails</dd>
    </dl>
    <hr />

    @if (!Model.WorkoutProgram.WorkoutPhases.Any())
    {
    <p>You have not added any workout phases as of yet</p>
}
else
{
    int idx = 0;
    @foreach (var phase in Model.WorkoutProgram.WorkoutPhases)
              {
                  idx++;
                <div class="container py-3">
                        <div>
                            <h3>Phase @idx: @phase.Name</h3>
                            <div><i>@phase.Duration</i></div>
                            <div>
                                <p>@phase.PhaseDetails</p>
                            </div>
                            <br>
                        </div>
                    <div>
                        @*If all exercise days are empty set all to rest days*@
                            @foreach (var day in @phase.WorkoutDays)
                            {
                        <div class="workout-day-container">
                            <details>
                                <summary>Day @day.DayNumber: @day.Name</summary>
                                <p>@day.Description</p>
                                <hr class="hr-red">
                        @if (!day.CustomExercises.Any())
                        {
                            <p>This is a rest day, there are no exercises here.</p>
                        }
                        else
                        {
                        <table class="table">
                            <caption>List of exercises</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Exercise</th>
                                    <th scope="col">Sets x Reps</th>
                                    <th scope="col">Rest</th>
                                </tr>
                            </thead>
                            <tbody> 
                            @foreach (var exercise in @day.CustomExercises)
                            {
                                <tr>
                                    <td><a asp-controller="Exercises" asp-action="Details" asp-route-id="@exercise.ExerciseId" target="_blank" class="custom-alink">@exercise.Exercise.Name</a></td>
                                    @if (@exercise.MaxRepetition == null)
                                    {
                                    <td>@exercise.Sets x @exercise.MinRepetition</td>
                                    } else
                                    {
                                    <td>@exercise.Sets x @exercise.MinRepetition - @exercise.MaxRepetition</td>  
                                    }
                                    <td>@exercise.RestInterval mins</td>
                                </tr>
                            }  
                            </tbody>
                        </table>
                            
                        }
                        </details>
                       </div>
                            }
                    </div>
                </div>
              } 
    }
</div>
      <br />
      
<div class="container">
    <div class="row justify-content-between">
        <span class="col-auto">
            <a asp-action="Index" class="btn btn-dark">View Workout Programs</a>
        </span>
        <span class="col-auto">
            <a asp-action="Details" asp-route-id="@Model.WorkoutProgram.Id" class="btn btn-dark">Simplified Detail View</a>
        </span>
    </div>
</div>