@model WorkoutPlannerWebApp.ViewModels.WorkoutProgramsViewModel.FullDetailWorkoutProgramViewModel

@{
    ViewData["Title"] = @Model.WorkoutProgram.Name + " Full Detail";
}

<div class="container mt-5">
    <h1>@Model.WorkoutProgram.Name</h1>
    <br />
    <dl class="row">
        <dt class="details-col-label">Difficulty</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.Difficulty</dd>
        <dt class="details-col-label">Updated On</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.UpdatedOn.ToString("MM/dd/yy hh:mm tt")</dd>    
        <dt class="details-col-label">Description</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.Description</dd>
        <dt>Program Detail</dt>
        <dd>@Model.WorkoutProgram.ProgramDetails</dd>
    </dl>
    <hr />

    @if (!Model.WorkoutProgram.WorkoutPhases.Any())
    {
    <p>You have not added any workout phases as of yet</p>
}
else
{
    int idx = 0;
    @foreach (var phase in Model.WorkoutProgram.WorkoutPhases)
              {
                  idx++;
                <div class="container py-3">
                        <div>
                            <h3>Phase @idx: @phase.Name</h3>
                            @if (phase.Duration > 1)
                            {
                            <div><i>@phase.Duration Weeks</i></div>
                            }
                            else 
                            {
                            <div><i>@phase.Duration Week</i></div>
                            }
                            <div>
                                <p>@phase.PhaseDetails</p>
                            </div>
                            <br>
                        </div>
                    <div>
                        @foreach (var day in @phase.WorkoutDays)
                        {
                        <div class="workout-day-container">
                            <details>
                                <summary class="workout-day-summary">Day @day.DayNumber: @day.Name</summary>
                                <p>@day.Description</p>
                                <hr class="hr-red">
                            @if (!day.CustomExercises.Any())
                            {
                                <p>This is a rest day, there are no exercises here.</p>
                            }
                            else
                            {
                                <table class="table">
                                    <caption>List of exercises</caption>
                            <thead class="exercise-thead">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Exercise</th>
                                    <th scope="col">Sets</th>
                                    <th scope="col">Reps</th>
                                    <th scope="col">Rest</th>
                                </tr>
                            </thead>
                            <tbody> 
                            @{ int id = 0;
                            @foreach (var exercise in @day.CustomExercises)
                            {
                                idx++;
                                <tr>
                                    <th scope="row">@idx</th>
                                    <td><a asp-controller="Exercises" asp-action="Details" asp-route-id="@exercise.ExerciseId" target="_blank" class="black-alink">@exercise.Exercise.Name</a></td>
                                    <td>@exercise.Sets</td>
                                    @if (exercise.MaxRepetition == null || exercise.MaxRepetition == exercise.MinRepetition)
                                    {
                                    <td>@exercise.MinRepetition</td>
                                    } else
                                    {
                                    <td>@exercise.MinRepetition - @exercise.MaxRepetition</td>  
                                    }
                                    <td>@exercise.RestInterval mins</td>
                                </tr>
                            } }
                            </tbody>
                        </table>
                        }
                        </details>
                       </div>
                        }
                    </div>
                </div>
              } 
    }
</div>
      <br />
      
<div class="container">
    <div class="row justify-content-between">
        <span class="col-auto">
            <a asp-action="Index" class="btn btn-dark">View Workout Programs</a>
        </span>
        <span class="col-auto">
            <a asp-action="Details" asp-route-id="@Model.WorkoutProgram.Id" class="btn btn-red">Simplified Detail View</a>
        </span>
    </div>
</div>
</div>