@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model WorkoutPlannerWebApp.ViewModels.IndexWorkoutProgramViewModel


@{
    ViewData["Title"] = "Index";
}
<div>
<div class="hero-container">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Free Workout Programs</h1>
            <p>Register and create your free workout program now!</p>
            @if (User.Identity.IsAuthenticated)
            {
            <a asp-controller="MyWorkoutPrograms" asp-action="Create" class="btn hero-btn">Create Program</a>   
            }
            else
            {
            <a asp-controller="MyWorkoutPrograms" asp-action="Index" class="btn hero-btn">Get Started</a>    
            }
        </div>
    </div>
</div>
</div>


<div class="container mt-5">
    <h1>Workout Programs</h1>

<div class="py-4">
  <form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <input asp-for="SearchString" type="text" class="form-control" placeholder="Search workout programs..." />
      <span asp-validation-for="SearchString" class="text-danger"></span>
    </div>
  </form>
</div>
@foreach (var program in Model.WorkoutPrograms) {
<div class="workout-program-container">
    <div class="workout-program-info">
        <h5><a asp-action="Details" asp-route-id="@program.Id">@program.Name</a></h5>
        <div><b>@program.Difficulty</b></div>
        <div><i>@program.Publisher.FirstName @program.Publisher.LastName</i></div>
        <p>@program.Description</p>
    </div>
</div>
}
</div>
