@model WorkoutPlannerWebApp.ViewModels.IndexWorkoutProgramViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Workout Programs</h1>

<div class="py-4">
  <form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <input asp-for="SearchString" type="text" class="form-control" placeholder="Search workout programs..." />
      <span asp-validation-for="SearchString" class="text-danger"></span>
    </div>
  </form>
</div>
@foreach (var program in Model.WorkoutPrograms) {
<div class="workout-program-container">
    <div class="workout-program-info">
        <h5><a asp-action="Details" asp-route-id="@program.Id">@program.Name</a></h5>
        <div><b>@program.Difficulty</b></div>
        <div><i>@program.Publisher.FirstName @program.Publisher.LastName</i></div>
        <p>@program.Description</p>
    </div>
</div>
}