@model WorkoutPlannerWebApp.ViewModels.ExercisesViewModels.DetailExerciseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.TutorialVideoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercise.TutorialVideoLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
