@model WorkoutPlannerWebApp.ViewModels.ExercisesViewModels.IndexExercisesViewModel

@{
    ViewData["Title"] = "Exercises";
}

<div class="container">
<h1>Exercises</h1>

<div class="py-4">
  <form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <input asp-for="SearchString" type="text" class="form-control" placeholder="Search exercises..." />
      <span asp-validation-for="SearchString" class="text-danger"></span>
    </div>
  </form>
</div>
<table class="table default-table">
    <thead>
        <tr>
            <th scope="col">Exercise</th>
            <th scope="col">Description</th>
            <th scope="col">Tutorial</th>
        </tr>
    </thead>
    <tbody>
@foreach (var exercise in Model.Exercises) {
        <tr>
            <th scope="row"><a asp-action="Details" asp-route-id="@exercise.Id">@exercise.Name</a></th>
            <td>@exercise.Description</td>
            <td><a href="@exercise.TutorialVideoLink" target="_blank">Click here to view how to do the @exercise.Name</a></td>
        </tr>
}
    </tbody>
</table>
</div>
