@using WorkoutPlannerWebApp.HelperMethods
@model WorkoutPlannerWebApp.ViewModels.CreateExerciseViewModel

@{
    ViewData["Title"] = "Add Exercises";
}

<div class="container mt-5">
<h1>Add Exercises</h1>
<br />
<div>
    <h2>@Model.WorkoutProgram.Name</h2>
    <dl class="row">
        <dt class="details-col-label">Difficulty</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.Difficulty</dd>
        <dt class="details-col-label">Updated On</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.UpdatedOn.ToString("MM/dd/yy hh:mm tt")</dd>    
        <dt class="details-col-label">Description</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.Description</dd>
        <dt>Program Detail</dt>
        <dd>@Model.WorkoutProgram.ProgramDetails</dd>
    </dl>
    <hr />
    
    <div class="container">
        <div class="">
            <h3>@Model.WorkoutPhase.Name</h3>
            @if (Model.WorkoutPhase.Duration > 1)
            {
            <div><i>@Model.WorkoutPhase.Duration Weeks</i></div>
            }
            else 
            {
            <div><i>@Model.WorkoutPhase.Duration Week</i></div>
            }
            <div>
                <p>@Model.WorkoutPhase.PhaseDetails</p>
            </div>
        </div>
    </div>
<br />

<div class="row">
    <h4>Day @Model.WorkoutDay.DayNumber: @Model.WorkoutDay.Name</h4>
    <p>@Model.WorkoutDay.Description</p>
    <hr />
    <div class="col-12">
        <form asp-action="CreateExercise">
            <input asp-for="WorkoutDay.Id" readonly hidden />
            <input asp-for="WorkoutPhase.Id" readonly hidden />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomExercise.ExerciseId" class="control-label">Exercise</label> 
                @Html.DropDownListFor(m => m.CustomExercise.ExerciseId, 
                    ViewBag.Exercises as SelectList, "-- Select Exercise --", htmlAttributes:
                new 
                {
                    @class = "form-control searchable-dropdown"
                })
                <span asp-validation-for="CustomExercise.ExerciseId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CustomExercise.Sets" class="control-label" autofocus></label>
                <input asp-for="CustomExercise.Sets" class="form-control" />
                <span asp-validation-for="CustomExercise.Sets" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CustomExercise.MinRepetition" class="control-label"></label>
                <input asp-for="CustomExercise.MinRepetition" class="form-control" />
                <span asp-validation-for="CustomExercise.MinRepetition" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CustomExercise.MaxRepetition" class="control-label"></label>
                <input asp-for="CustomExercise.MaxRepetition" class="form-control" />
                <span asp-validation-for="CustomExercise.MaxRepetition" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CustomExercise.RestInterval" class="control-label"></label>
                <input asp-for="CustomExercise.RestInterval" class="form-control" />
                <span asp-validation-for="CustomExercise.RestInterval" class="text-danger"></span>
            </div>
            <br />
            <div class="row justify-content-between">
                <span class="col-auto">
                    <a asp-action="ViewWorkoutPhases" asp-route-id="@Model.WorkoutProgram.Id" class="btn btn-dark">Return</a>
                </span>
                <span class="col-auto">
                    <input type="submit" value="Add Exercise" class="btn btn-red" />
                </span>
            </div>  
        </form>
    </div>
</div>
      
<br />
    
    <h4>Exercises</h4>
    <hr />
    @if (!Model.CustomExercises.Any())
    {
        <p>There are no exercises added for @Model.WorkoutDay.Name as of yet.</p>
    }
    else
    {
    <table class="table ">
    <caption>List of exercises</caption>
      <thead class="thead-dark">
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">Exercise</th>
          <th scope="col">Sets x Reps</th>
          <th scope="col">Rest Interval</th>
          <th scope="col">Tutorial Video Link</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody> 
              @{ int idx = 0;
              @foreach (var exercise in Model.CustomExercises)
              {
                    idx++;
                    <tr>
                  <th scope="row">@idx</th>
                  <td>@exercise.Exercise.Name</td>
                    @if (@exercise.MaxRepetition == null || @exercise.MaxRepetition <= 0)
                    {
                        <td>@exercise.Sets x @exercise.MinRepetition</td>
                    } else
                    {
                        <td>@exercise.Sets x @exercise.MinRepetition - @exercise.MaxRepetition</td>  
                    }
                  <td>@exercise.RestInterval</td>
                  <td>
                    @if (@exercise.Exercise.TutorialVideoLink != null){
                    <a href="@exercise.Exercise.TutorialVideoLink" target="_blank">How to perform @exercise.Exercise.Name</a>
                    } 
                  </td>
                  <td>
                    <form asp-action="DeleteExercise" asp-route-id="@exercise.Id">    
                      <button class="btn btn-dark">X</button>
                    </form>
                  </td>
                </tr>
              } 
              }
        </tbody>
    </table>
    }
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
$(document).ready(function() {
    $('.searchable-dropdown').select2();
});
</script>
}
