@model WorkoutPlannerWebApp.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
<h1>My Workout Programs</h1>
<br />
@if (!@Model.WorkoutPrograms.Any())
{
    <span>
        <a asp-action="Create" class="btn btn-red"><i class="fa-solid fa-plus"></i></a>
    </span>
    <span>Create your first workout program and publish it for everyone to see!</span>
}
else
{
<p>
    <a asp-action="Create" class="btn btn-red"><i class="fa-solid fa-plus"></i></a>
</p>
@foreach (var program in Model.WorkoutPrograms) 
{
<div class="workout-program-container">
    <div class="workout-program-info">
        <h5><a asp-action="Details" asp-route-id="@program.Id">@program.Name</a></h5>
        <div><b>@program.Difficulty</b></div>
        <div><i>@program.Publisher.FirstName @program.Publisher.LastName</i></div>
        <p>@program.Description</p>
    </div>
    <div class="workout-program-btns">
        <a asp-action="Edit" asp-route-id="@program.Id" class="fa fa-pen text-success my-1"></a>
        <button type="button" class="fa fa-trash text-danger my-1" data-bs-toggle="modal" data-bs-target="#deleteWorkoutProgramPopup" onclick="initializeDeletePopupRouteIdForWorkoutPhase(@program.Id)"></button>
    </div>
</div>
}
}


<!-- Modal -->
<div class="modal fade" id="deleteWorkoutProgramPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Workout Program</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteWorkoutProgramPopupText">
      </div>
      <div class="modal-footer">
        <form id="deleteWorkoutProgramForm" method="post">
            <button type="submit" class="btn btn-red" data-bs-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

@section Scripts{
    <script>
        const deleteWorkoutPhaseForm = document.querySelector('#deleteWorkoutProgramForm');
        const deleteWorkoutPhasePopupText = document.querySelector('#deleteWorkoutProgramPopupText');
        
        function initializeDeletePopupRouteIdForWorkoutPhase(programId) {
            deleteWorkoutPhaseForm.action = `/MyWorkoutPrograms/DeleteWorkoutProgram/${programId}`;
            deleteWorkoutPhasePopupText.textContent = `Are you sure that you want to delete the workout program?`;
        }

        function passWorkoutProgramName(programName) {
            deleteWorkoutPhasePopupText.textContent = `Are you sure that you want to delete the ${programName} workout program?`;
        }
    </script>
}