@model WorkoutPlannerWebApp.ViewModels.MyWorkoutProgramsViewModels.ViewWorkoutPhaseViewModel

@{
    ViewData["Title"] = "Edit Workout Program";
}

<h1>Edit Workout Program</h1>
<br />
<div>
    <h2>@Model.WorkoutProgram.Name</h2>
    <dl class="row">
        <dt class="details-col-label">Difficulty</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.Difficulty</dd>
        <dt class="details-col-label">Updated On</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.UpdatedOn.ToString("MM/dd/yy hh:mm tt")</dd>    
        <dt class="details-col-label">Description</dt>
        <dd class="details-col-data">@Model.WorkoutProgram.Description</dd>
        <dt>Program Detail</dt>
        <dd>@Model.WorkoutProgram.ProgramDetails</dd>
    </dl>
    <hr />

    <h3>Workout Phases</h3>
    <br />
    <a asp-action="CreateWorkoutPhase" asp-route-id="@Model?.WorkoutProgram.Id" class="btn btn-red">Add Workout Phase</a>

    @if (!Model.WorkoutPhases.Any())
    {
        <p>You have not added any workout phases as of yet</p>
    }
    else
    {
    int idx = 0;
    @foreach (var phase in Model.WorkoutPhases)
    {
    idx++;
    <div class="container py-3">
        <div class="workout-phase-container-edit">
            <div class="workout-phase-info-edit">
                <h4>Phase @idx: @phase.Name</h4>
                <div>@phase.Duration</div>
                <div><p>@phase.PhaseDetails</p></div>
            </div>
            <div class="workout-phase-btns-edit">
                <a asp-action="EditWorkoutPhase" asp-route-id="@phase.Id" class="fa fa-pen text-success my-1"></a>
                <button type="button" class="fa fa-trash text-danger my-1" data-bs-toggle="modal" data-bs-target="#deleteWorkoutPhasePopup" onclick="initializeDeletePopupRouteIdForWorkoutPhase(@phase.Id)"></button>
            </div>
        </div>
        <div>
            @foreach (var day in @phase.WorkoutDays)
            {
            <div class="workout-day-container">
            <details>
                <summary>Day @day.DayNumber: @day.Name</summary>
                <p>@day.Description</p>
                <div class="mb-1">
                    <a asp-action="EditWorkoutDay" asp-route-id="@day.Id" class="btn btn-dark">Edit Day</a>
                    <a class="btn btn-red" asp-area="" asp-controller="MyWorkoutPrograms" asp-action="CreateExercise" asp-route-id="@day.Id">Add Exercises</a>
                    @*<form class="flex col-auto" asp-action="ClearWorkoutDay" asp-route-id="@day.Id">   
                        <input asp-for="WorkoutProgram.Id" readonly hidden />
                        <input asp-for="WorkoutPhase.Id" readonly hidden />
                        <button type="submit" class="btn btn-danger">Reset Day</button>
                    </form>*@
                    @if (Model.CopyWorkoutLinkId == day.Id)
                    {
                    } 
                    else if (Model.CopyWorkoutLinkId != null)
                    {
                        @Html.ActionLink("Paste", "PasteWorkoutDay", new { id = Model.WorkoutProgram.Id, copyDayId = Model.CopyWorkoutLinkId, pasteDayId = day.Id }, new { @class="btn btn-red"})
                    }
                    else 
                    {
                        @Html.ActionLink("Copy", "CopyWorkoutDay", new { id = Model.WorkoutProgram.Id, dayId = day.Id }, new { @class="btn btn-red"})
                    }
                </div>
                @if (!day.CustomExercises.Any())
                {
                }
                else
                {
                <table class="table">
                    <caption>List of exercises</caption>
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Exercise</th>
                            <th scope="col">Sets x Reps</th>
                            <th scope="col">Rest</th>
                        </tr>
                    </thead>
                    <tbody> 
                    @{int id = 0;
                    @foreach (var exercise in @day.CustomExercises)
                    {
                        id++;
                        <tr>
                            <th scope="row">@id</th>
                            <td>@exercise.Exercise.Name</td>
                            @if (@exercise.MaxRepetition == null || @exercise.MaxRepetition <= 0)
                            {
                            <td>@exercise.Sets x @exercise.MinRepetition</td>
                            } else
                            {
                            <td>@exercise.Sets x @exercise.MinRepetition - @exercise.MaxRepetition</td>  
                            }
                            <td>@exercise.RestInterval mins</td>
                        </tr>
                    }     }
                    </tbody>
                </table>
                }
            </details>
            </div>
            }
            </div>
        </div>
    } 
    }
</div>
<br />

<div class="row justify-content-between">
    <span class="col-auto">
        <a asp-action="Edit" asp-route-id="@Model?.WorkoutProgram.Id" class="btn btn-dark">Back</a>
    </span>
    <span class="col-auto">
        <a asp-action="Details" asp-route-id="@Model?.WorkoutProgram.Id" class="btn btn-red">Finish</a>
    </span>
</div>  


<!-- Modal -->
<div class="modal fade" id="deleteWorkoutPhasePopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Workout Phase</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteWorkoutPhasePopupText">
      </div>
      <div class="modal-footer">
        <form id="deleteWorkoutPhaseForm" method="post">
            <button type="submit" class="btn btn-red" data-bs-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const deleteWorkoutPhaseForm = document.querySelector('#deleteWorkoutPhaseForm');
        const deleteWorkoutPhasePopupText = document.querySelector('#deleteWorkoutPhasePopupText');
        
        function initializeDeletePopupRouteIdForWorkoutPhase(phaseId) {
            deleteWorkoutPhaseForm.action = `/MyWorkoutPrograms/DeleteWorkoutPhase/${phaseId}`;
            deleteWorkoutPhasePopupText.textContent = `Are you sure that you want to delete the workout phase?`;
        }

        function passWorkoutProgramName(phaseName) {
            deleteWorkoutPhasePopupText.textContent = `Are you sure that you want to delete the ${phaseName} workout phase?`;
        }
    </script>
}