@model WorkoutPlannerWebApp.ViewModels.MyWorkoutProgramsViewModels.ViewWorkoutPhaseViewModel

@{
    ViewData["Title"] = "Create Workout Phase";
}

<h1>Add Workout Phases</h1>

<div>
    <h4>@Model.WorkoutProgram.Name</h4>
    <hr />
    <div class="pb-3 row">
        <dt class="col-sm-3">Difficulty</dt>
        <dd class="col-sm-9">@Model.WorkoutProgram.Difficulty</dd>
        <dt class="col-sm-3">Last Updated</dt>
        <dd class="col-sm-9"><i>@Model.WorkoutProgram.UpdatedOn.ToString("MM/dd/yy hh:mm tt")</i></dd>
    </div>
    <dt>Description</dt>
    <div>
        <p>@Model.WorkoutProgram.ShortDescription</p>
    </div>
    <dt>Program Detail</dt>
    <div>
        <p>@Model.WorkoutProgram.LongDescription</p>
    </div>

    <h4>Workout Phases</h4>
    <hr />

    <span class="col-auto">
        <a asp-action="CreateWorkoutPhase" asp-route-id="@Model?.WorkoutProgram.Id" class="btn btn-primary">Add Workout Phase</a>
    </span>

    <br />
    <br />

    @if (!Model.WorkoutPhases.Any())
    {
        <p>You have not added any workout phases as of yet</p>
    }
    else
    {
    @foreach (var phase in Model.WorkoutPhases)
              {
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-11">
                            <h5>@phase.Name</h5>
                            <div><i>@phase.Duration</i></div>
                            <br>
                            <div>
                                <p>@phase.Content</p>
                            </div>
                            <br>
                        </div>
                        <div class="col-1">
                            <form asp-action="DeleteWorkoutPhase" asp-route-id="@phase.Id">    
                                <button type="submit" class="btn btn-danger">delete phase</button>
                            </form>
                            <a asp-action="EditWorkoutPhase" asp-route-id="@Model.WorkoutProgram.Id" class="btn btn-success">Edit Phase</a>
                        </div>
                    </div>
                    <div>
                        @*If all exercise days are empty set all to rest days*@
                            @foreach (var day in @phase.WorkoutDays)
                            {
                        <div class="container">
                            <div class="row justify-content-between">
                                <div class="col-12">
                                    <h5>Day @day.DayNumber: @day.Name</h5>
                                    <p>@day.Description</p>
                                    <a asp-action="EditWorkoutDay" asp-route-id="@Model.WorkoutProgram.Id" class="btn btn-success">Edit Day</a>
                                </div>
                                <div class="row col-2">
                                @if (!day.CustomExercises.Any())
                                {
                                    <td class="row justify-content-end">
                                        <a class="btn btn-primary" asp-area="" asp-controller="MyWorkoutPrograms" asp-action="CreateExercise" asp-route-id="@day.Id">Add Exercises</a>
                                    </td>
                                }
                                else
                                {
                                    <td class="row justify-content-between">
                                    <form class="flex col-6" asp-action="ClearWorkoutDay" asp-route-id="@day.Id">   
                                        <input asp-for="WorkoutProgram.Id" readonly hidden />
                                        <input asp-for="WorkoutPhase.Id" readonly hidden />
                                        <button type="submit" class="btn btn-danger">Clear</button>
                                    </form>
                                    <a class="flex col-6 btn btn-primary" asp-area="" asp-controller="MyWorkoutPrograms" asp-action="CreateExercise" asp-route-id="@day.Id">Edit</a>
                                    </td>
                                }
                            </div>
                            </div>
                        @if (!day.CustomExercises.Any())
                        {
                            <p>This is a rest day, there are no exercises here.</p>
                        }
                        else
                        {
                        <table class="col-12 table table-striped table-bordered table-hover table-responsive">
                            <caption>List of exercises</caption>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Exercise</th>
                                    <th scope="col">Sets x Reps</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody> 
                            @foreach (var exercise in @day.CustomExercises)
                            {
                                <tr>
                                    <td>@exercise.Exercise.Name</td>
                                    @if (@exercise.MaxRepetition == null)
                                    {
                                    <td>@exercise.Sets x @exercise.MinRepetition</td>
                                    } else
                                    {
                                    <td>@exercise.Sets x @exercise.MinRepetition - @exercise.MaxRepetition</td>  
                                    }
                                    <td>@exercise.Exercise.Description</td>
                                </tr>
                            }  
                            </tbody>
                        </table>
                        }
                         </div>
                            }
                    </div>
                </div>
              } 
    }
</div>
<br />

<div class="row justify-content-between">
    <span class="col-auto">
        <a asp-action="Edit" asp-route-id="@Model?.WorkoutProgram.Id" class="btn btn-secondary">Back</a>
    </span>
    <span class="col-auto">
        <a asp-action="Details" asp-route-id="@Model?.WorkoutProgram.Id" class="btn btn-success">Finish</a>
    </span>
</div>  


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
